<!doctype html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./src/layout/homepage.ejs'); -%>
    <a
      class="p-4 text-blue-400 transition-all hover:text-blue-600"
      href="<%= base %>test.html"
    >
      測試頁
    </a>
    <!-- <%= base %> 的使用說明 在 HTML 模板中使用 <%= base %> 語法時，它是 EJS
      模板引擎的插值語法。這樣的語法可以用來插入變數的值。例如：

      <a href="<%= base %>index.html">首頁</a>
      這樣 <%= base %> 會被 EJS
      模板引擎替換成對應的變數值，通常用於動態生成連結地址或資源路徑。 -->
    <script type="module" src="../main.js"></script>
  </body>
</html>
