<nav class="ml-[296px] flex max-w-screen-lg justify-end px-8 font-normal">
  <ul class="flex items-center">
    <li>
      <a
        class="paginationTabs me-[-1px] size-8 rounded-s-sm border border-green-700 text-green-700 duration-300 ease-in-out hover:bg-green-700 hover:text-white"
        href="#"
      >
        <span class="material-icons">chevron_left</span>
      </a>
    </li>
    <li>
      <a
        class="paginationTabs me-[-1px] size-8 border border-green-700 bg-green-700 text-white duration-300 ease-in-out"
        href="#"
      >
        1
      </a>
    </li>
    <li>
      <a
        class="paginationTabs me-[-1px] size-8 border border-green-700 duration-300 ease-in-out hover:bg-green-700 hover:text-white"
        href="#"
      >
        2
      </a>
    </li>
    <li>
      <a
        class="paginationTabs me-[-1px] size-8 border border-green-700 duration-300 ease-in-out hover:bg-green-700 hover:text-white"
        href="#"
      >
        3
      </a>
    </li>
    <li>
      <a
        class="paginationTabs me-[-1px] size-8 rounded-e-sm border border-green-700 text-green-700 duration-300 ease-in-out hover:bg-green-700 hover:text-white"
        href="#"
      >
        <span class="material-icons">navigate_next</span>
      </a>
    </li>
  </ul>
</nav>
